version: "3.7"
services:
    database:
        image: postgres:14.1-alpine
        restart: always
        environment:
            - POSTGRES_USER=admin
            - POSTGRES_PASSWORD=admin
        ports:
            - '5431:5432'
        volumes: 
            - ./database:/var/lib/postgresql/data
        container_name: Marking_database
    backend:
        build:
            context: "backend"
        ports:
            - 3000:3000
        volumes:
            - "./backend:/app"
            - "/app/node_modules"
        entrypoint: ["npm", "run", "dev"]
        container_name: Marking_backend
        image: marking_backend:dev
    frontend:
        build:
            context: "frontend"
        ports:
            - 3001:3000
        volumes:
            - "./frontend:/app"
            - "/app/node_modules"
        entrypoint: ["npm", "run", "dev"]
        container_name: Marking_frontend
        image: marking_frontend:dev

