.page-title{
    color:#6c757d;
    margin: 1%;
}

.card-table-title {
    font-weight: 700 !important;
    font-size: 15px !important;
}

.card-table{
    font-weight: 600 !important;
    font-size: 15px !important;
    color:rgb(108,117,125) !important;
}

